/* main*/

section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.places {
  margin: 0 auto;
  text-align: center;
  max-width: 320px;
  height: 430px;
}

.card {
  background: #fffefe;
  max-width: 320px;
  height: 430px;
  margin-left: 35px auto;
  padding: 0 20px 20px 20px;
  box-shadow: 0 4px 5px #1b1b1b17,
              2px 4px 4px #1b1b1b17, 
              -2px -4px 4px #1b1b1b17;
}

.card-heading {
  background-color: #98bfca;
  margin: 0 -20px -10px -20px;
  padding: 10px;
}

.card-weather {
  text-align: center;
  margin-top: 50px auto 20px;
}

.card-icon {
  margin: -20px 0 -40px 0;
}

.main {
  position: absolute;
  top: 110px;
  left: 0;
  right: 0;
}

/* header */

.header-logo {
  max-height: 15vh;
  pointer-events: none;
  margin: 0 auto;
  position: fixed;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

/* general */

h1 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 0.6em;
  font-size: 2em;
}

h2 {
  font-weight: 600;
  line-height: 0.4;
  font-size: 1.8em;
}

h3 {
  font-weight: 600;
  line-height: 0.4;
  font-size: 1.6em;
}

h4 {
  font-weight: 400;
  font-size: 1.4em;
}


a { 
  color: #2e2e2e;
  text-decoration: none;
  position: relative;
}

a:after {
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 0;
  position: absolute;
  background-color: #2e2e2e;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

a:hover:after {
  width: 100%;
  left: 0;
}

ul {
  list-style-type: none;
}

/* footer menu */

footer {
  background: #98bfca;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
  padding: 15px;
  height: 90px;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 60vw;
  margin: 0 auto;
  font-size: 2em;
}

nav ul a {
  margin: 0 10px 0 0;
}

/* CSS transitions */
.transition-appear,
.transition-enter {
  opacity: 0;
  z-index: 1;
}

.transition-appear-active, 
.transition-enter.transition-enter-active {
  opacity: 1;
  transition: opacity 250ms linear 150ms;
}

.transition-exit {
  opacity: 1;
}

.transition-exit.transition-exit-active {
  opacity: 0;
  transition: opacity 150ms linear;
}

/* video */
.videoBackground {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0.3;
  z-index: -1;
}

.credit {
  margin-top: -20px;
  font-size: 12px;
}
